.feedback-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

img {
  width: 70px;
}

p {
  font-size: 12px;
  color: #1e293b;
}
